body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(17, 170, 162);
    padding: 15px;
}

aside.first {
    box-sizing: border-box;
    float: left;
    width: 20%;
}

p {
    padding-left: 5px;
}

aside.second {
    box-sizing: border-box;
    float: left;
    width: 20%;
    background-color: lightpink;
    padding: 15px;
    margin-top: 5px;
}

main {
    box-sizing: border-box;
    width: 60%;
    float: left;
    padding: 0 14px;
}

img {
    width: 100%;
    direction: center;
}

footer {
    background-color: rgb(159, 212, 233);
    font-size: 13px;
    padding: 10px;
    text-align: center;
}

div.clearfix {
    clear: both;
}

@media screen and (max-width:800px) {
    aside.second {
        width: 100%;
    }
    main {
        width: 80%;
        padding: 0px;
    }
}

@media screen and (max-width:500px) {
    main {
        overflow: hidden;
        width: 100%;
        padding: 0px;
    }
    aside.first {
        overflow: hidden;
        width: 100%;
    }
    aside.second {
        overflow: hidden;
        width: 100%;
    }
    footer {
        overflow: hidden;
    }
}